* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-background: rgb(128, 187, 197);
    --largest-font: clamp(15px, 1rem + 0.8vw, 50px);
    --medium-font: clamp(10px, 0.8rem + 0.5vw, 40px);
    --gap-size: 15px;
    --border-radius: 10px;
    --min-project: 35%;
}

.large-display img[src*="profile"], .small-display img[src*="profile"], .trending-user img, .title img, .post img {
    border-radius: 50%;
}

h1, #name, #text {
    font-size: var(--largest-font);
}

hr {
    height: 2px;
    width: 100%;
}

.link h2, .small-display h2, .titles, .announce p:first-of-type{
    font-size: var(--medium-font);
    font-weight: bolder;
}

.titles {
    margin-bottom: 5px;
}

body {
    background-color: rgb(236, 232, 232);
}

.flex {
    display: flex;
    gap: var(--gap-size, 15px);
    align-items: center;
}


.project-card, .trending-box, .announce-box {
    background-color: white;
}


/*GRID LAYOUT SECTION*/
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "head"
    "trend"
    "announce"
    "post" 
    "project"
    "side";
}

.sidebar{
        grid-area: side;
}

.header { 
    padding: 1%;
    padding-left: 3%;
    grid-area: head;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color:white;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.projects {
    grid-area: project;
    padding: 10px;
}

.announcements {
    grid-area: announce;
    padding: 20px;
}

.trending {
    grid-area: trend;
    padding: 20px;
}

.post {
    grid-area: post;
    padding: 20px;
}





/*SIDEBAR SECTION*/
.sidebar {
    background-color: var(--main-background);
    padding: 20px;
    flex-direction: column;
    gap: 40px;
    min-height: 500px;
    display: flex;
}

.title h1 {
    font-size: var(--largest-font);
}

.link h2, h1 {
    color: white;
}

.main-links, .other-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.link {
    width: 100%;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    transition: 200ms ease-in;
    cursor: pointer;
}

.link:hover {
    background-color: rgba(56, 137, 161, 0.719);
}

/*SIDEBAR SECTION END*/

/*HEADER SECTION*/

.search {
    --gap-size: 5px;
    align-items: center;
}

.search input{
    background-color: rgba(233, 230, 230, 0.801);
    width: 70%;
    border:none;
    padding: 5px;
    border-radius: 20px;
}

.search input:focus {
    outline: 4px double var(--main-background);
}

.small-display {
    --gap-size: 15px;
    justify-self: center;
}

.large-display p {
    font-weight: bold;
}

.buttons {
    justify-self: center;
}

.buttons button {
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 20px;
    border:none;
    color: white;
    background-color: var(--main-background);
}

.buttons button:hover {
    transform: scale(1.1);
}
/*HEADER SECTION END*/

/*PROJECT SECTION*/

.projects .titles {
    margin-left: 10px;
}

.project-card {
    height: 200px;
    border-left: 10px solid rgb(224, 179, 28);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.project-card .text {
    max-width: 80%;
}

.project-card .icons {
    position: absolute;
    bottom: 8%;
    right: 10%;
    display: flex;
    gap: 15px;
}
/*PROJECT SECTION END*/

/*ANNOUNCEMENT SECTION*/
.announce-box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius);
}
.announce {
    max-width: 70%;
    padding: 20px 0px;
    border-bottom: 2px solid grey;
}

.announce:last-of-type {
    border-bottom: none;
}
/*ANNOUNCEMENT SECTION END*/

/*TRENDING SECTION*/

.trending-box {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--border-radius);

}

#username {
    font-weight: bolder;
    margin-bottom: 3px;
}

#descript {
    opacity: 0.8;
}
/*TRENDING SECTION END*/

/*POST SECTION*/
.post-box {
    background-color:white;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius:var(--border-radius);
}

.post-box p:last-of-type {
    font-size: var(--medium-font);
}

.user-header{
    width: 100%;
    justify-content: space-between;
}

.friends-img {
    gap:0px;
}

.bold {
    font-weight: bold;
}

a{
    color: var(--main-background);
    text-decoration: none;
}


@media screen and (max-width: 990px){
    .large-display {
        grid-area: 1 / 1 / 1 / 1;
    }

    .small-display {
        grid-area: 1 / 2 / 1 / 2;
    }
}

@media screen and (min-width: 850px)

{
    .container {
        align-items: center;
        grid-template-areas:
        "head head head"
        "post post trend"
        "project project announce"
        "project project side"
        "project project side";
    }

    .buttons button {
        padding: 15px 30px;
    }

}

@media screen and (min-width: 1400px)
{

    .header{
        grid-template-rows: 1fr 1.5fr;
    }

    .projects .projects-grid{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(var(--min-project),1fr));
    }

    .container{
        align-items: stretch;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
        "side head head head head"
        "side project project project announce"
        "side post post post trend";

    }
}

@media screen and (min-width: 2000px)
{    
    .project-card {
        height:250px;
    }
    
}